<template>
  <v-app id="app">
    <LoadingScreen v-if="show" />
    <router-view/>
    <Snackbar />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import LoadingScreen from '@/components/layout/LoadingScreen'
import Snackbar from '@/components/Snackbar'

export default {
  name: 'App',
  components: {
    Snackbar,
    LoadingScreen
  },
  computed: {
    ...mapGetters({
      showDialogLoadingScreen: 'getShowDialogLoadingScreen',
      msg: 'getMsg'
    })
  },
  data () {
    return {
      show: true
    }
  },
  watch: {
    showDialogLoadingScreen () {
      this.show = this.showDialogLoadingScreen
    }
  }
}
</script>

<style>

</style>
