<template>
  <div>
    <h3 class="title">GỬI TRA SOÁT</h3>
    <div v-if="typeof traSoatInsertList === 'object' && typeof incentives === 'object'">
      <table class="table" style="margin: 0 auto; width: 100%; max-width: 600px">
        <thead>
          <tr class="current">
            <th>Dao_tra_soat</th>
            <th>salename</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="33.33%" align="center" v-for="(item, key) in headersCoDinh" :key="key">
              <span>{{ bodiesCoDinh[item] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <table class="table">
        <thead>
          <tr>
            <th width="80px">Month</th>
            <th>cif</th>
            <th>acctno</th>
            <th>cardno</th>
            <th>F1</th>
            <th>reason</th>
            <th>detailed_reason</th>
            <th>proposal</th>
            <th>productname_bmt</th>
            <th>email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in traSoatInsertList" :key="item.id">
            <template v-if="item.id !== editItem.id">
              <td v-for="item1 in headers" :key="item1">
                <span>{{ item[item1] }}</span>
              </td>
              <td class="nowrap">
                <v-icon class="material-icons icon-hover" color="info" @click="edit(item)" title="Sửa">
                  create
                </v-icon>
                <v-icon class="material-icons icon-hover" color="red" @click="del(item.id)" title="Xóa">
                  delete
                </v-icon>
              </td>
            </template>
            <template v-else>
              <td>{{ monthYearCurrent }}</td>
              <td>
                <v-text-field
                  v-model="editItem.cif"
                  label="Nhập cif"
                ></v-text-field>
                <span v-if="editItem.cifValidate"> {{ editItem.cifValidate }}</span>
              </td>
              <td>
                <v-text-field
                  v-model="editItem.acctno"
                  label="Nhập acctno"
                ></v-text-field>
                <span v-if="editItem.acctnoValidate"> {{ editItem.acctnoValidate }}</span>
              </td>
              <td>
                <v-text-field
                  v-model="editItem.cardno"
                  label="Nhập cardno"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="editItem.app_id_c"
                  label="Nhập app_id_c"
                ></v-text-field>
              </td>
              <td width="200px" style="max-width: 200px">
                <v-select
                  :items="reasonList"
                  v-model="editItem.reason"
                  label="Chọn reason"
                  autocomplete
                ></v-select>
              </td>
              <td width="200px" style="max-width: 200px">
                <v-text-field
                  v-model="editItem.detailed_reason"
                  label="Nhập detailed reason"
                  multi-line
                  rows="2"
                ></v-text-field>
              </td>
              <td width="200px" style="max-width: 200px">
                <v-select
                  :items="proposalList"
                  v-model="editItem.proposal"
                  label="Chọn reason"
                  autocomplete
                ></v-select>
              </td>
              <td width="200px" style="max-width: 200px">
                <v-select
                  :items="productname_bmtList"
                  v-model="editItem.productname_bmt"
                  item-value="id"
                  item-text="text"
                  label="Chọn productname_bmt"
                  autocomplete
                ></v-select>
              </td>
              <td>
                <v-text-field
                  v-model="editItem.email"
                  label="Nhập email"
                ></v-text-field>
                <span v-if="editItem.emailValidate"> {{ editItem.emailValidate }}</span>
              </td>
              <td class="nowrap">
                <v-icon class="material-icons iconedit icon-hover" large color="info" title="Cập nhật" @click="editSave()">check</v-icon>
                <v-icon class="material-icons iconedit icon-hover" large color="red" title="Hủy" @click="cancelEdit">close</v-icon>
              </td>
            </template>
          </tr>
          <tr v-for="(item, index) in insert" :key="index">
            <td>{{ monthYearCurrent }}</td>
            <td>
              <v-text-field
                v-model="item.cif"
                label="Nhập cif"
              ></v-text-field>
              <span v-if="item.cifValidate"> {{ item.cifValidate }}</span>
            </td>
            <td>
              <v-text-field
                v-model="item.acctno"
                label="Nhập acctno"
              ></v-text-field>
              <span v-if="item.acctnoValidate"> {{ item.acctnoValidate }}</span>
            </td>
            <td>
              <v-text-field
                v-model="item.cardno"
                label="Nhập cardno"
              ></v-text-field>
            </td>
            <td>
              <v-text-field
                v-model="item.app_id_c"
                label="Nhập app_id_c"
              ></v-text-field>
            </td>
            <td width="200px" style="max-width: 200px">
              <v-select
                :items="reasonList"
                v-model="item.reason"
                label="Chọn reason"
                autocomplete
              ></v-select>
            </td>
            <td width="200px" style="max-width: 200px">
              <v-text-field
                v-model="item.detailed_reason"
                label="Nhập detailed reason"
                multi-line
                rows="2"
              ></v-text-field>
            </td>
            <td width="200px" style="max-width: 200px">
              <v-select
                :items="proposalList"
                v-model="item.proposal"
                label="Chọn reason"
                autocomplete
              ></v-select>
            </td>
            <td width="200px" style="max-width: 200px">
              <v-select
                :items="productname_bmtList"
                v-model="item.productname_bmt"
                label="Chọn productname_bmt"
                autocomplete
              ></v-select>
            </td>
            <td>
              <v-text-field
                v-model="item.email"
                label="Nhập email"
              ></v-text-field>
              <span v-if="item.emailValidate"> {{ item.emailValidate }}</span>
            </td>
            <td class="nowrap">
              <v-icon large color="green darken-2" class="icon-to" v-if="index === insert.length - 1" @click="add" title="Thêm dòng">add_circle</v-icon>
              <v-icon large color="green darken-2" class="icon-to" @click="remove(index)" v-if="insert.length > 1" title="Xóa dòng">remove_circle</v-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div v-if="msgInsert.length > 0" style="display: block; overflow: hidden;">
        <div>
          <v-alert
            :value="true"
            outline
            type="success"
            transition="scale-transition"
          >
            {{ msgInsert }}
          <v-icon style="float: right" @click="msgInsert = ''">close</v-icon>
          </v-alert>
        </div>
      </div>
      <div style="text-align: right">
        <v-btn color="info" large @click="save">Lưu</v-btn>
        <v-btn color="error" large @click="getDataExport">Xuất ra excel</v-btn>
      </div>
    </div>
    <div v-else style="position: relative; height: 100px">
      <Loading :background="true" />
    </div>
    <download-excel
      ref="exportData"
      :clickBtn="clickExport"
      :data   = "json_data"
      :fields = "json_fields"
      name    = "TraSoat.xls">
    </download-excel>
    <div v-if="loadingExport">
      <Loading :background="true" />
    </div>
  </div>
</template>

<script>
import Request from '@/Utils/Request'
import { mapGetters } from 'vuex'
import moment from 'moment'
// import axios from 'axios'
import DownloadExcel from '@/components/ExportExcel'
import Loading from '@/components/layout/Loading.vue'

// let SERVER = process.env.SERVER

export default {
  name: 'TraSoatInsert',
  components: {
    Loading,
    DownloadExcel
  },
  computed: {
    ...mapGetters({
      incentives: 'getIncentives',
      msg: 'getMsg',
      traSoatInsertList: 'getTraSoatInsertList'
    })
  },
  data () {
    return {
      headers: ['month', 'cif', 'acctno', 'cardno', 'app_id_c', 'reason', 'detailed_reason', 'proposal', 'productname_bmt', 'email'],
      monthYearCurrent: moment(new Date()).add(-1, 'M').format('YYYYMM'),
      headersCoDinh: ['DAO', 'TÊN CBBH', 'VỊ TRÍ'],
      bodiesCoDinh: [],
      insert: [
        {
          cif: '',
          cifValidate: '',
          acctno: '',
          acctnoValidate: '',
          cardno: '',
          app_id_c: '',
          reason: '',
          detailed_reason: '',
          proposal: '',
          productname_bmt: '',
          email: '',
          emailValidate: ''
        }
      ],
      editItem: {
        id: '',
        cif: '',
        cifValidate: '',
        acctno: '',
        acctnoValidate: '',
        cardno: '',
        app_id_c: '',
        reason: '',
        detailed_reason: '',
        proposal: '',
        productname_bmt: '',
        email: '',
        emailValidate: ''
      },
      reasonList: ['Ngoại lệ liên quan đến chính sách (Ngoại lệ xếp hạng, ngoại lệ điểm bán chính,...)', 'Sản phẩm không được ghi nhận ( Gán sai mã Dao, Không có trong Rawdata,...  ', 'Khác'],
      proposalList: [
        'Hỗ trợ ghi nhận KPI cho CBB',
        'DVKD đề xuất gắn lại mã DAO ',
        'Tra soát',
        'Ghi nhận điểm tháng 04',
        'Khác'
      ],
      productname_bmtList: [
        { id: 'Cho vay', text: 'Cho vay' },
        { id: 'Huy dong moi', text: 'Huy động mới' },
        { id: 'Huy dong tang rong', text: 'Huy động tăng ròng' },
        { id: 'KH gold', text: 'KH gold' },
        { id: 'Trai phieu', text: 'Trái phiếu' },
        { id: 'Thau chi', text: 'Thấu chi' },
        { id: 'The', text: 'Thẻ' }
      ],
      msgInsert: '',
      loadingExport: false,
      clickExport: false,
      json_fields: {},
      json_data: [],
      json_meta: [
        [{
          'key': 'charset',
          'value': 'utf-8'
        }]
      ]
    }
  },
  mounted () {
    this.convertDataToTableCoDinh(this.incentives[0])
  },
  watch: {
    incentives () {
      this.convertDataToTableCoDinh(this.incentives[0])
    }
  },
  methods: {
    cancelEdit () {
      this.editItem.id = ''
    },
    editSave () {
      let item = this.editItem
      item.cifValidate = ''
      item.acctnoValidate = ''
      item.emailValidate = ''
      let check = true
      if (!/^[0-9]+$/.test(item.cif)) {
        check = false
        item.cifValidate = 'Không hợp lệ'
      }
      if (!item.acctno) {
        check = false
        item.acctnoValidate = 'Trường bắt buộc'
      }
      if (!/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(item.email)) {
        check = false
        item.emailValidate = 'Email không hợp lệ'
      }
      if (!check) return

      this.loadingExport = true
      Request.postData(`/tra-soat-insert/edit/${item.id}`, item, res => {
        this.loadingExport = false
        if (res.status) {
          this.$store.dispatch('getTraSoatInsertList')
          item.id = ''
        }
      })
    },
    edit (item) {
      for (let i in this.editItem) {
        this.editItem[i] = item[i] || ''
      }
    },
    del (id) {
      let del = confirm('Bạn có muốn xóa?')
      if (del) {
        this.loadingExport = true
        Request.postData(`/tra-soat-insert/del/${id}`, {}, res => {
          this.loadingExport = false
          if (res.status) {
            this.$store.dispatch('getTraSoatInsertList')
          } else {
            this.$store.dispatch('updateMsg', res.msg)
          }
        })
      }
    },
    getDataExport () {
      this.loadingExport = true
      Request.postData('/tra-soat-insert/exports', {}, res => {
        this.loadingExport = false
        let data = res.data.data
        if (res.status) {
          let listHeader = Object.keys(data[0])
          let objHeader = {}
          listHeader.map(item => {
            objHeader[item] = 'String'
          })
          this.json_fields = objHeader
          this.json_data = data
          this.clickExport = !this.clickExport
        } else {
          this.$store.dispatch('updateMsg', 'Có lỗi xảy ra')
        }
      })
    },
    save () {
      this.insert.map(item => {
        item.cifValidate = ''
        item.acctnoValidate = ''
        item.emailValidate = ''
      })
      this.msgInsert = ''
      let check = true
      this.insert.map(item => {
        if (!/^[0-9]+$/.test(item.cif)) {
          check = false
          item.cifValidate = 'Không hợp lệ'
        }
        if (!item.acctno) {
          check = false
          item.acctnoValidate = 'Trường bắt buộc'
        }
        if (!/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(item.email)) {
          check = false
          item.emailValidate = 'Email không hợp lệ'
        }
      })
      if (!check) return

      let duLieuNhap = this.insert
      let month = this.monthYearCurrent
      let dao = this.bodiesCoDinh['DAO']
      let salename = this.bodiesCoDinh['TÊN CBBH']
      let position = this.bodiesCoDinh['VỊ TRÍ']
      let data = {
        month,
        dao,
        salename,
        position,
        duLieuNhap
      }
      this.loadingExport = true
      Request.postData('/tra-soat-insert/add', data, res => {
        this.loadingExport = false
        if (res.status) {
          this.$store.dispatch('getTraSoatInsertList')
          this.insert = [{
            cif: '',
            cifValidate: '',
            acctno: '',
            acctnoValidate: '',
            cardno: '',
            app_id_c: '',
            reason: '',
            detailed_reason: '',
            proposal: '',
            productname_bmt: '',
            email: '',
            emailValidate: ''
          }]
        }
        this.msgInsert = res.msg
      })
    },
    add () {
      this.insert.push({
        cif: '',
        cifValidate: '',
        acctno: '',
        acctnoValidate: '',
        cardno: '',
        app_id_c: '',
        reason: '',
        detailed_reason: '',
        proposal: '',
        productname_bmt: '',
        email: '',
        emailValidate: ''
      })
    },
    remove (index) {
      if (this.insert.length > 1) {
        this.insert.splice(index, 1)
      }
    },
    convertDataToTableCoDinh (incentive) {
      if (incentive) {
        // this.headers = Object.keys(traSoat[0])
        this.bodiesCoDinh = incentive.data[0]
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.nowrap
  white-space: nowrap !important

table.table tbody td
  white-space: normal

.title
  color: RGB(192,0,0)
  font-weight: bold
  font-size: 35px !important
  margin: 0
  line-height: 1.3 !important
  margin-bottom: 1px
  text-align: center
  margin-bottom: 30px

.subtitle
  font-style: italic
  font-size: 13px
  margin-bottom: 15px
  display: block

i
  cursor: pointer

tr.current th
  background: #b7bb18 !important

.icon-hover
  border-radius: 50%
  padding: 3px
  &:hover
    background: #ded9d9

.icon-to:hover
  opacity: .8

.iconedit
  font-size: 25px !important
</style>
