<template>
  <div>
    <div v-if="typeof incentives === 'object'">
      <div>
        <template v-if="incentivesCurrent.length > 0">
          <h3 :class="'title current'">BÁO CÁO KẾT QUẢ LƯƠNG KINH DOANH THÁNG {{ incentivesCurrent[0].date | monthYear }}</h3>
          <span :class="'subtitle current'">Đơn vị tính: Triệu VNĐ</span>
          <div class="no-scroll" v-if="incentivesCurrent[0].data && incentivesCurrent[0].data.length > 0">
            <table class="table">
              <thead>
                <tr class="current-month">
                  <th v-for="(key, index) in headerCurrent" :key="index">{{ key }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="incentivesCurrent[0].data.length > 0" v-for="(incentive1, index) in incentivesCurrent[0].data" :key="index">
                  <!-- <td v-for="(item, key) in incentive1" :key="key" v-if="headerCurrent.indexOf(key) > -1">
                    <span v-if="key === 'date_sale_start'">{{ item | convertDate }}</span>
                    <span v-else-if="key === 'date_sale_off'">{{ item | convertDate }}</span>
                    <span v-else>{{ item }}</span>
                  </td> -->
                  <td v-for="(item, key) in headerCurrent" :key="key">
                    <span v-if="item !== 'NGÀY BẮT ĐẦU'">{{incentivesCurrent[0].data[index][item]}}</span>
                    <span v-else>{{ incentivesCurrent[0].data[index][item] | convertDate }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br><br>
          <div class="no-scroll" v-if="incentivesCurrent[0].data && incentivesCurrent[0].data.length > 0">
            <table class="table">
              <thead>
                <tr class="current-month">
                  <th v-for="(key, index) in header2Current" :key="index">{{ key }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="incentivesCurrent[0].data.length > 0" v-for="(incentive1, index) in incentivesCurrent[0].data" :key="index">
                  <!-- <td v-for="(item, key) in incentive1" :key="key" v-if="headerCurrent.indexOf(key) > -1">
                    <span v-if="key === 'date_sale_start'">{{ item | convertDate }}</span>
                    <span v-else-if="key === 'date_sale_off'">{{ item | convertDate }}</span>
                    <span v-else>{{ item }}</span>
                  </td> -->
                  <td v-for="(item, key) in header2Current" :key="key">
                    <span v-if="incentivesCurrent[0].data[index][item]">{{ incentivesCurrent[0].data[index][item]}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br><br>
          <div class="scroll-x" v-if="incentivesCurrent[0].data && incentivesCurrent[0].data.length > 0">
            <table class="table">
              <thead>
                <tr>
                  <th v-for="(key, index) in Object.keys(incentivesCurrent[0].data[0])" :key="index" v-if="headerCurrent.indexOf(key) < 0 && header2Current.indexOf(key) < 0">{{ key }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="incentivesCurrent[0].data.length > 0" v-for="(incentive1, index) in incentivesCurrent[0].data" :key="index">
                  <!-- <td v-for="(item, key) in incentive1" :key="key" v-if="headerCurrent.indexOf(key) > -1">
                    <span v-if="key === 'date_sale_start'">{{ item | convertDate }}</span>
                    <span v-else-if="key === 'date_sale_off'">{{ item | convertDate }}</span>
                    <span v-else>{{ item }}</span>
                  </td> -->
                  <td v-for="(item, key) in incentive1" :key="key" v-if="headerCurrent.indexOf(key) < 0 && header2Current.indexOf(key) < 0">
                    <span v-if="key === 'position_start_date'">{{ item | convertDate }}</span>
                    <span v-else>{{ item }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div style="text-align: right" v-if="incentivesCurrent.length > 0">
          <v-btn color="error" large @click="exportMonthCurrent(incentivesCurrent[0])">Xuất Xuất dữ liệu tháng {{ incentivesCurrent[0].date | monthYear }}</v-btn>
          </div>
          <br> <br><br>
        </template>

        <div>
          <h1 style="color: RGB(192, 0, 0); font-size: 20px;">BÁO CÁO KẾT QUẢ LƯƠNG KINH DOANH THEO THÁNG:</h1>
          <v-layout row wrap>
            <v-flex xs3>
              <v-select
                :items="monthList"
                v-model="monthSelected"
                label="Chọn tháng"
                single-line
                item-value="key"
                item-text="text"
              ></v-select>
            </v-flex>
          </v-layout>
        </div>

        <div v-if="!loadingChooseMonth" style="min-height: 300px">
          <div v-if="Object.keys(incentiveSelected).length > 0 && incentiveSelected.data.length > 0" style="min-height: 300px">
            <h3 :class="'title '" >THÁNG {{ incentiveSelected.date | monthYear }}</h3>
            <span :class="'subtitle '" >Đơn vị tính: Triệu VNĐ</span>
            <div class="scroll-x mb-5">
              <table class="table">
                <thead>
                  <tr>
                    <th v-for="(key, index) in Object.keys(incentiveSelected.data[0])" :key="index + 3" v-if="headerChoose.indexOf(key) >= 0">{{ key }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="incentiveSelected.data.length > 0" v-for="(incentive1, index) in incentiveSelected.data" :key="index">
                    <td v-for="(item, key) in incentive1" :key="key" v-if="headerChoose.indexOf(key) >= 0">
                      <span v-if="key === 'date_sale_start'">{{ item | convertDate }}</span>
                      <span v-else-if="key === 'date_sale_off'">{{ item | convertDate }}</span>
                      <span v-else-if="key === 'position_start_date'">{{ item | convertDate }}</span>
                      <span v-else>{{ item }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <div style="text-align: right" v-if="Object.keys(incentiveSelected).length > 0">
              <v-btn color="info" large @click="exportMonthCurrent(incentiveSelected)">Xuất dữ liệu tháng {{ incentiveSelected.date | monthYear }}</v-btn>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div v-else style="min-height: 300px; position: relative;">
          <Loading />
        </div>

      </div>
    </div>
    <div v-else style="min-height: 100px">
      <Loading />
    </div>
    <download-excel
      ref="exportData"
      :clickBtn="clickExport"
      :data   = "json_data"
      :fields = "json_fields"
      :name    = "fileName">
    </download-excel>
    <div v-if="loadingExport">
      <Loading :background="true" />
    </div>
  </div>
</template>

<script>
import Request from '@/Utils/Request'
import { mapGetters } from 'vuex'
import moment from 'moment'
import Loading from '@/components/layout/Loading.vue'
import DownloadExcel from '@/components/ExportExcel'

export default {
  name: 'Incentives',
  components: {
    Loading,
    DownloadExcel
  },
  data () {
    return {
      // headers: [],
      // bodies: [],
      incentivesList: [],
      incentivesCurrent: [],
      headerCurrent: ['DAO', 'MÃ NHÂN VIÊN', 'TÊN CBBH', 'VỊ TRÍ', 'MÃ CHI NHÁNH', 'TÊN CHI NHÁNH', 'HUB', 'VÙNG', 'THÀNH PHỐ', 'PHÂN LOẠI THÀNH PHỐ', 'LOẠI HỢP ĐỒNG', 'NGÀY BẮT ĐẦU', 'THÂM NIÊN'],
      header2Current: ['Điểm bán chính', 'Điểm bán bổ sung', 'Điểm giới thiệu', 'Tổng điểm quy đổi ( chỉ sử dụng để ra đơn giá ). Tổng điểm này đã nhân với KPI nhóm', 'Tổng điểm quy đổi ( sử dụng để xếp hạng). Tổng điểm này đã nhân với KPI nhóm', 'Điểm thưởng', 'Đơn giá', 'Lương kinh doanh (Trước thuế)', 'Xếp hạng'],
      headerChoose: [],
      json_fields: {},
      json_data: [],
      json_meta: [
        [{
          'key': 'charset',
          'value': 'utf-8'
        }]
      ],
      fileName: 'incentive.xls',
      loadingExport: false,
      clickExport: false,
      loadingChooseMonth: false,
      monthSelected: '',
      incentiveSelected: {}
    }
  },
  mounted () {
    if (this.incentives) {
      this.convertDataToTable(this.incentives)
    }
  },
  computed: {
    monthList () {
      let currentMonth = moment().format('MM')
      let yearCurrent = moment().format('YYYY')
      let monthList = []
      let n = parseInt(currentMonth) - 2
      for (let i = n; i > 0; i--) {
        let yearMonth = ''
        if (i < 10) {
          yearMonth = yearCurrent + '-0' + i
        } else {
          yearMonth = yearCurrent + '-' + i
        }
        let obj = {
          key: yearMonth,
          text: 'Tháng ' + moment(yearMonth).format('MM/YYYY')
        }
        monthList.push(obj)
      }
      return monthList
    },
    ...mapGetters({
      incentives: 'getIncentives'
    })
  },
  watch: {
    incentives () {
      this.convertDataToTable(this.incentives)
    },
    monthSelected () {
      this.loadingChooseMonth = true
      Request.postData('/incentive/list', {month: this.monthSelected}, res => {
        if (res.status) {
          this.loadingChooseMonth = false
          if (res.data.data.length > 0) {
            this.headerChoose = Object.keys(res.data.data[0])
          }
          this.incentiveSelected = res.data
        } else {
          this.$store.dispatch('updateMsg', 'Có lỗi xảy ra')
        }
      })
    }
  },
  methods: {
    exportMonthCurrent (incentive) {
      this.fileName = 'incentive-' + incentive.date
      let listHeader = Object.keys(incentive.data[0])
      let objHeader = {}
      listHeader.map(item => {
        objHeader[item] = 'String'
      })
      this.json_fields = objHeader
      this.json_data = incentive.data
      this.clickExport = !this.clickExport
    },
    isValidDate (d) {
      let date = Date.parse(d)
      return !isNaN(date)
    },
    convertDataToTable (incentives) {
      // this.incentivesList = []
      // this.incentivesCurrent = []
      // this.headers = Object.keys(incentives[0])
      let obj = {}
      obj.data = incentives.data
      obj.date = incentives.date
      this.incentivesCurrent.push(obj)
      // incentives.map(item => {
      //   if ((parseInt(moment(new Date()).format('M')) - 2) === parseInt(moment(item.date).format('M'))) {
      //     item.type = 'current'
      //     this.incentivesCurrent.push(item)
      //   } else {
      //     this.incentivesList.push(item)
      //   }
      // })
    }
  }
}
</script>

<style lang="sass" scoped>
.title
  color: RGB(192,0,0)
  font-weight: bold
  font-size: 25px !important
  margin: 0
  line-height: 1.3 !important
  margin-bottom: 1px
  &.current
    text-align: center

.subtitle
  font-style: italic
  font-size: 13px
  margin-bottom: 15px
  display: block
  &.current
    text-align: center

tr.current-month th
  background: #b7bb18 !important
</style>
