<template>
  <div class="wscontainer">
    <v-card tile>
      <h3>INCENTIVES</h3>
      <p class="subtitle">Đăng nhập tài khoản</p>
      <v-text-field
        v-model="dao"
        label="Dao"
      ></v-text-field>
      <v-text-field
        v-model="email"
        label="Email"
      ></v-text-field>
      <v-text-field
        v-model="password"
        label="Password"
        :append-icon="e1 ? 'visibility' : 'visibility_off'"
        :append-icon-cb="() => (e1 = !e1)"
        :type="e1 ? 'password' : 'text'"
      ></v-text-field>
      <a href="/register">Chưa có tài khoản?</a>
      <div class="div-button">
        <v-btn color="info" round @click="login">Đăng nhập</v-btn>
      </div>
    </v-card>
  </div>
</template>

<script>

export default {
  data () {
    return {
      dao: '5818',
      email: 'thuphuong@vpbank.com.vn',
      password: '12345678',
      e1: true
    }
  },
  created () {
    this.$store.dispatch('updateShowDialogLoadingScreen', false)
  },
  methods: {
    login () {
      let msg = ''
      if (!this.dao) {
        msg = 'DAO không được bỏ trống'
      } else if (!this.email) {
        msg = 'Email không được bỏ trống'
      } else if (!this.password) {
        msg = 'Mật khẩu không được bỏ trống'
      } else if (!/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email)) {
        msg = 'Email không hợp lệ'
      } else {
        let data = {
          dao: this.dao,
          email: this.email,
          password: this.password
        }
        this.$store.dispatch('login', data)
      }

      if (msg) {
        this.$store.dispatch('updateMsg', msg)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import '@/assets/sass/global.sass'

.wscontainer
  min-height: 100vh
  display: flex
  align-items: center
  align-content: space-between
  justify-content: center

.card
  width: 500px
  max-width: 100%
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 12px 24px 0 rgba(0,0,0,0.06)
  border-radius: 8px
  padding: 40px 24px
  margin: 0
  display: flex
  flex-direction: column
  justify-content: right

h3
  color: $secondary
  font-weight: bold
  margin: 0
  margin-bottom: 20px
  line-height: 1.1
  font-size: 44px

.subtitle
  font-size: 20px
  font-weight: bold
  margin-top: 0
  margin-bottom: 30px

a
  text-decoration: none
  color: $secondary

.div-button
  text-align: right

button
  margin-top: 50px
  font-size: 16px
</style>
