<template>
  <div>
    <h3 class="title">CHI TIẾT TÍNH ĐIỂM CHẤT LƯỢNG TRONG THÁNG</h3>
    <span class="subtitle">Các khoản được tính điểm chất lượng tính cho các khoản đủ điều kiện tính LKD của các tháng trước và tính theo DAO chốt các tháng đó</span>
    <div v-if="typeof qualityList === 'object'" style="position: relative">
      <div>
        <div class="scroll-x">
          <table class="table">
            <thead>
              <tr>
                <th v-for="(key, index) in headers" :key="index">{{ key }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="bodies.length > 0" v-for="(incentive, index) in bodies" :key="index">
                <td v-for="(item, key) in incentive" :key="key">
                  <span v-if="key === 'CUS_OPEN_DATE' || key === 'openning_date' || key === 'issue_date' || key === 'MATDT'">{{ item | convertDate }}</span>
                  <span v-else>{{ item }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div class="text-xs-center">
          <v-pagination :length="total" v-model="currentPage"></v-pagination>
        </div>
      </div>
      <Loading v-if="loadingData" :background="true" />
    </div>
    <div v-else style="min-height: 100px; position: relative">
      <Loading />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Loading from '@/components/layout/Loading.vue'

export default {
  name: 'Quality',
  components: {
    Loading
  },
  data () {
    return {
      headers: [],
      bodies: [],
      currentPage: 1,
      total: 0,
      loadingData: false
    }
  },
  computed: {
    ...mapGetters({
      qualityList: 'getQualityList',
      msg: 'getMsg'
    })
  },
  mounted () {
    this.loadingData = true
    let data = {
      currentPage: this.currentPage
    }
    this.$store.dispatch('getQualityList', data)
  },
  watch: {
    msg () {
      this.loadingData = false
    },
    qualityList () {
      this.loadingData = false
      this.total = Math.ceil(this.qualityList.total / 10)
      this.convertDataToTable(this.qualityList.data)
    },
    currentPage () {
      this.loadingData = true
      let data = {
        currentPage: this.currentPage
      }
      this.$store.dispatch('getQualityList', data)
    }
  },
  methods: {
    isValidDate (d) {
      let date = Date.parse(d)
      return !isNaN(date)
    },
    convertDataToTable (qualityList) {
      this.headers = Object.keys(qualityList[0])
      this.bodies = qualityList
    }
  }
}
</script>

<style lang="sass" scoped>
.title
  color: RGB(192,0,0)
  font-weight: bold
  font-size: 25px !important
  margin: 0
  line-height: 1.3 !important
  margin-bottom: 1px

.subtitle
  font-style: italic
  font-size: 13px
  margin-bottom: 15px
  display: block
</style>
