<template>
<div>
  <Toolbar />
  <v-container>
    <router-view/>
  </v-container>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import Toolbar from '@/components/layout/Toolbar'

export default {
  name: 'Theme',
  components: {
    Toolbar
  },
  mounted () {
    this.$store.dispatch('getInfo')
  },
  computed: {
    ...mapGetters({
      info: 'getInfo'
    })
  },
  watch: {
    info () {
      if (this.info && this.info.id) {
        this.$store.dispatch('getIncentives')
        this.$store.dispatch('getRawDatas')
        // this.$store.dispatch('getRawBQs')
        // this.$store.dispatch('getQualityList')
        this.$store.dispatch('getTraSoat')
        this.$store.dispatch('getTraSoatInsertList')
      }
    }
  }
}
</script>
