<template>
  <div>
    <h3 class="title">TRA SOÁT</h3>
    <span class="subtitle"></span>
    <div class="scroll-x" v-if="typeof traSoat === 'object' && typeof incentives === 'object'">
      <table class="table">
        <thead>
          <tr>
            <th v-for="(key, index) in headers" :key="index">
              <span>{{ key }}</span>
            </th>
            <!-- <th style="width: 100px">DAO</th>
            <th style="width: 300px">Tên CBBH</th>
            <th style="width: 200px">Vị trí</th> -->
            <th>Sản phẩm theo tra soát</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr v-if="bodies.length > 0" v-for="(incentive, index) in bodies" :key="index">
            <td v-for="(item, key) in incentive" :key="key">
              <span v-if="key === 'CUS_OPEN_DATE' || key === 'openning_date' || key === 'issue_date' || key === 'MATDT'">{{ item | convertDate }}</span>
              <span v-else>{{ item }}</span>
            </td>
          </tr> -->
          <tr v-if="Object.keys(bodies).length > 0">
            <td v-for="(item, index) in headers" :key="index">
              <span v-if="item === 'NGÀY BẮT ĐẦU'">{{ bodies[item] | convertDate }}</span>
              <span v-else>{{ bodies[item] }}</span>
            </td>
            <td width="250px">
              <v-select
                :items="items"
                v-model="appSelected"
                label="Chọn app"
                autocomplete
              ></v-select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else style="min-height: 100px; position: relative">
      <Loading />
    </div>
    <br><br>

    <v-text-field
      v-model="cif"
      :rules="cifRules"
      label="Cif"
      required
      v-if="appSelected"
    ></v-text-field>

    <v-text-field
      v-model="acctno"
      :rules="acctnoRules"
      label="Acctno"
      required
      v-if="appSelected && appSelected.id !== 'KH gold'"
    ></v-text-field>

    <v-text-field
      v-model="cardNo"
      label="Card no"
      v-if="appSelected && appSelected.id === 'The'"
    ></v-text-field>

    <v-text-field
      v-model="appIdC"
      label="App_id_c"
      v-if="appSelected && appSelected.id !== 'KH gold'"
    ></v-text-field>

    <br><br>

    <v-btn color="primary" v-if="showFilter" @click="filter">Lọc</v-btn>
    <v-btn color="primary" disabled v-else>Lọc</v-btn>

    <br><br>

    <div class="scroll-x" v-if="typeof dataFilter === 'object'">
      <h1> Kết quả tìm kiếm:</h1>
      <div v-if="!this.filtering">
        <table class="table" v-if="dataFilter.length > 0">
          <thead>
            <tr>
              <th v-for="(key, index) in dataFilterHeaders" :key="index">{{ key }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="filtering === true">
              <td colspan="18">
              </td>
            </tr>
            <tr v-else-if="dataFilter.length > 0" v-for="(rawdata, index) in dataFilter" :key="index">
              <td v-for="(item, key) in rawdata" :key="key">
                <span>{{ item }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-else>
          Không có kết quả.
        </div>
      </div>
      <div v-else style="min-height: 100px; position: relative;">
        <Loading />
      </div>
    </div>

    <div v-else style="position: relative; height: 100px">
      <Loading v-if="typeof filtering === 'boolean'" :background="true" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
import Loading from '@/components/layout/Loading.vue'

let SERVER = process.env.SERVER

export default {
  name: 'TraSoat',
  components: {
    Loading
  },
  data () {
    return {
      headers: ['DAO', 'MÃ NHÂN VIÊN', 'TÊN CBBH', 'VỊ TRÍ'],
      bodies: [],
      items: [
        { id: 'Cho vay', text: 'Cho vay' },
        { id: 'Huy dong moi', text: 'Huy động mới' },
        { id: 'Huy dong tang rong', text: 'Huy động tăng ròng' },
        { id: 'KH gold', text: 'KH gold' },
        { id: 'Trai phieu', text: 'Trái phiếu' },
        { id: 'Thau chi', text: 'Thấu chi' },
        { id: 'The', text: 'Thẻ' }
      ],
      appSelected: '',
      cif: '',
      cifRules: [
        v => !!v || 'Trường bắt buộc'
      ],
      acctno: '',
      acctnoRules: [
        v => !!v || 'Trường bắt buộc'
      ],
      cardNo: '',
      appIdC: '',
      showFilter: false,
      filtering: '',
      dataFilter: '',
      dataFilterHeaders: []
    }
  },
  computed: {
    ...mapGetters({
      traSoat: 'getTraSoat',
      incentives: 'getIncentives',
      msg: 'getMsg'
    })
  },
  mounted () {
    this.convertDataToTable(this.incentives[0])
  },
  watch: {
    msg () {
      this.filtering = false
    },
    incentives () {
      this.convertDataToTable(this.incentives[0])
    },
    appSelected () {
      this.checkFilter()
    },
    cif () {
      this.checkFilter()
    },
    acctno () {
      this.checkFilter()
    }
  },
  methods: {
    filter () {
      if (!this.appSelected) {
        this.$store.dispatch('updateMsg', 'Bạn chưa chọn app')
      } else if (!this.cif) {
        this.$store.dispatch('updateMsg', 'Bạn chưa chọn cif')
      } else if (!this.acctno && this.appSelected.id !== 'KH gold') {
        this.$store.dispatch('updateMsg', 'Bạn chưa chọn acctno')
      } else {
        this.filtering = true
        let data = {
          app: this.appSelected,
          cif: this.cif,
          acctno: this.acctno,
          cardNo: this.cardNo,
          app_id_c: this.appIdC
        }
        let token = localStorage.token
        axios.post(`${SERVER}/api/raw-data/filter`, data, {
          headers: {
            authorization: 'AuthJWT ' + token
          }
        })
          .then(res => {
            let data = res.data
            if (data.status) {
              this.dataFilter = data.data
              if (data.data.length > 0) {
                this.dataFilterHeaders = Object.keys(data.data[0])
              }
            } else {
              this.dataFilter = []
            }
            this.filtering = false
          })
      }
    },
    checkFilter () {
      let appSelected = this.appSelected.id || ''
      let cif = this.cif
      let acctno = 'a'
      if (this.appSelected.id !== 'KH gold') {
        acctno = this.acctno
      }
      if (appSelected && cif && acctno) {
        this.showFilter = true
      } else {
        this.showFilter = false
      }
    },
    isValidDate (d) {
      let date = Date.parse(d)
      return !isNaN(date)
    },
    convertDataToTable (traSoat) {
      if (traSoat) {
        // this.headers = Object.keys(traSoat[0])
        this.bodies = traSoat.data[0]
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.title
  color: RGB(192,0,0)
  font-weight: bold
  font-size: 25px !important
  margin: 0
  line-height: 1.3 !important
  margin-bottom: 1px

.subtitle
  font-style: italic
  font-size: 13px
  margin-bottom: 15px
  display: block
</style>
