<template>
  <div id="money-react">
    <div data-reactroot="" id="welcome-view">
      <div class="welcome-view-container" :style="'background: transparent url(' + getImgUrl('bg.jpg') + ') no-repeat 50%; background-size: auto 256px; background-size: cover'">
        <div class="welcome-view-content">
          <!-- <div class="logo" :style="'background: transparent url(' + getImgUrlMedia('app-logo.png') + ') no-repeat 50%; background-size: auto 256px'"></div> -->
          <div class="logo-big">
            <img :src="getImgUrl('BICC1.png')">
          </div>
          <div class="app-name">Money Lover</div>
          <div class="welcome-progress-bar-container">
            <v-progress-linear :indeterminate="true" primary value="15" height="2"></v-progress-linear>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'LoadingScreen'
}
</script>

<style lang="sass" scoped>
div#money-react
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 999999

#welcome-view
  display: block
  .welcome-view-content
    position: relative
    width: 400px

.welcome-view-container
  background: #242424
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 9
  display: flex;
  justify-content: center;
  align-items: center;

.logo-big
  padding-bottom: 30px
  img
    max-width: 400px
    width: 100%

.app-name
  position: absolute
  color: #fff
  font-size: 36px
  text-align: center
  font-weight: 400
  font-family: Roboto,Tahoma,Arial,sans-serif
  width: 100%
  top: 158px
  display: none

.welcome-progress-bar-container
  width: 100%
  position: absolute
  bottom: 0

</style>
