<template>
  <div :class="'no-result ' + classes + [background ? ' background ' : '']">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</template>

<script>
export default {
  name: 'Loading',
  props: ['classes', 'background']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.no-result
  overflow-y: scroll
  height: 100%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 100%
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  z-index: 9
  &.background
    background: rgba(255, 255, 255, .5)

.lds-ring
  display: inline-block
  position: relative
  width: 60px
  height: 60px

.lds-ring div
  box-sizing: border-box
  display: block
  position: absolute
  width: 51px
  height: 51px
  margin: 6px
  border: 4px solid #2db84c
  border-radius: 50%
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  border-color: #2db84c transparent transparent transparent

.lds-ring div:nth-child(1)
  animation-delay: -0.45s

.lds-ring div:nth-child(2)
  animation-delay: -0.3s

.lds-ring div:nth-child(3)
  animation-delay: -0.15s

@keyframes lds-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

</style>
