<template>
  <v-container>
    <v-toolbar dark color="primary">
      <v-toolbar-items>
        <v-btn v-for="item in menu" :key="item.title" flat :to="item.link">{{ item.title }}</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-menu bottom left>
        <v-btn slot="activator" icon dark class="no-border">
          <v-icon>person</v-icon>
          <span>{{ user.email }}</span>
          <v-icon>arrow_drop_down</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="logout">
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
  </v-container>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Toolbar',
  data () {
    return {
      menu: [
        { link: '/incentives', title: 'Incentives' },
        { link: '/rawdata', title: 'Raw Data' },
        { link: '/rawbq', title: 'Raw BQ' },
        { link: '/quality', title: 'Quality' },
        { link: '/promotion', title: 'Thăng tiến' },
        { link: '/bao-hiem', title: 'Bảo hiểm' },
        { link: '/tra-soat', title: 'Tra Soát' },
        { link: '/gui-tra-soat', title: 'Gửi tra soát' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      user: 'getInfo'
    })
  },
  methods: {
    logout () {
      let logoutConfirm = confirm('Bạn có muốn thoát?')
      if (logoutConfirm) {
        localStorage.removeItem('token')
        window.location.href = '/login'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.container
  padding-top: 0

.btn
  width: auto

.toolbar
  margin-bottom: 50px
</style>
