<template>
  <div :class="'snackbar-container ' + [snackbar ? 'active' : '']" @click="closeSnackbar">
    <v-snackbar
      :timeout="9999999999"
      v-model="snackbar"
      bottom
      @click="closeSnackbar"
    >
      <div v-html="message"></div>
    </v-snackbar>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Snackbar',
  data () {
    return {
      message: '',
      snackbar: false
    }
  },
  computed: {
    ...mapGetters({
      msg: 'getMsg'
    })
  },
  watch: {
    msg () {
      if (this.msg) {
        this.snackbar = true
        this.message = this.msg
      }
    }
  },
  methods: {
    closeSnackbar () {
      this.snackbar = false
      setTimeout(() => {
        this.$store.dispatch('updateMsg', '')
      }, 500)
    }
  }
}
</script>
<style lang="sass" scoped>
.snackbar-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1
  background: transparent !important
  border: none
  &.active
    z-index: 999999
</style>
