@import global.sass

.wscontainer
  max-width: 1200px
  margin: 0 auto

.no-border
  .btn__content:before
    +border-radius(0px)

table.table
  thead
    tr
      height: auto
      th
        font-size: 14px
        color: #333 !important
        padding: 10px 11px !important;
        border: 1px solid #fff;
        background: #44546a
        color: #fff !important
        font-weight: 400
  tbody
    td
      font-size: 14px
      white-space: nowrap
    

.scroll
  overflow: auto

.scroll-x
  overflow-x: auto

.scroll-y
  overflow-y: auto

.no-scroll
  th, td
    white-space: initial !important